<!DOCTYPE html>
<html>
<head>
  <title>Legacy Code Rocks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div id="nav_control">
			<span id="menu_btn">
				<%= icon('bars') %>
			</span>
		</div>
		<nav class="hide">
			<ul>
				<li><%= link_to "Home" %></li>
				<li><%= link_to "Podcast" %></li>
			</ul>
		</nav>
	</header>
	<main>
		<%= yield %>
	</main>
</body>
</html>
